{% extends 'FsbProxyAppBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'@FsbProxyAppBundle/Resources/public/sass/login.scss'
		filter='?uglifycss'
		output='css/login.min.css'
		%}
		<link rel='stylesheet' href='{{ asset_url }}' />
	{% endstylesheets %}
{% endblock %}

{% block app_header %}
	{% if error %}
		<div class='alert alert-danger alert-dismissable'>
			<a href='#' class='close' data-dismiss='alert'>&times;</a>
			<p><strong>Erreur !</strong> <span>{{ error.message|trans }}</span></p>
		</div>
	{% endif %}
{% endblock %}

{% block app_content %}
	<section id='login'>
		<header id='login-header'>
			<h1>Private area</h1>
			<p class='lead'>Authentication required</p>
		</header>
		<form action='{{ path('fsb_proxy_app_login_check_page') }}' method='post' autocomplete='off'>
			<div class='form-group'>
				<label for='username' class='control-label sr-only'>Login</label>
				<div class='input-group'>
					<span class='input-group-addon'>
						<span class='mdi-social-person'></span>
					</span>
					<input type='text' class='form-control floating-label' id='username' name='_username' value='{{ last_username }}' placeholder='Login' />
				</div>
			</div>
			<div class='form-group'>
				<label for='password' class='control-label sr-only'>Password</label>
				<div class='input-group'>
					<span class='input-group-addon'>
						<span class='mdi-communication-vpn-key'></span>
					</span>
					<input type='password' class='form-control floating-label' id='password' name='_password' value='{{ last_password }}' placeholder='Password' />
				</div>
			</div>
			<div class='form-group'>
				<input type='submit' class='btn btn-info' name='submit' value='Connexion' />
			</div>
		</form>
	</section>
{% endblock %}
